#section1, #section2 {
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: solid;
}

.header, #header-logo, .header-links, .text-and-button, .image {
    display: flex;
    border-style: solid;
    border-color: blue;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.header-links {
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

.text-and-button {
    flex-direction: column;
}

.square {
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

#square-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-style: dashed;
}

.sq-text, .sq-both {
    word-break: break-word;
    border-style: solid;
}

.sq-text {
    width: 150px;
    text-align: center;
}

.sq-both {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h3 {
    text-align: center
}